/* -------------------------------Activities */

.activities {
    background: linear-gradient(#efd8f0, var(--pale-blue));
    text-align: center;
    position: relative;
    top: 4rem;
    padding-bottom: 5rem;
    margin-bottom: 4rem;

}

.activities article, .activities div {
    margin-top: 5rem;
    height: 40vh;
}

.activities img {
    height: 100%;
    object-fit: cover;
    width: 80%;
}

.activities .card-body {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: fit-content;
    transform: translatex(-20px);
}

/* -------------------------------Media queries (adapting elements to fit smaller screen sizes)*/

@media only screen and (max-width: 992px) {
    .activities .card-body {
        width: 80vw;
        transform: translatex(-5px);
        height: fit-content;
    }

    .activities img {
        transform: translateX(-5px);
    }
}  