/* -------------------------------Booking */

.booking {
    background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("/assets/pictures//booking/booking-small.jpg");
    background-size: cover;
    background-position: 70% center;
    text-align: center;
    position: relative;
    top: 4rem;
    padding-bottom: 5rem;
    margin-bottom: 4rem;
}

/* -------------------------------Media queries (adapting elements to fit smaller screen sizes)*/

@media only screen and (max-width: 992px) {
    /* box sizing on large screens */

}  

/* -------------------------------Media queries (managing bandwidth for mobile devices)*/

@media only screen and (min-width: 720px) {
    .contact {
        background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("/assets/pictures/booking/booking-large.jpg");
    }
}