/* -------------------------------Contact */

.contact {
    background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("https://res.cloudinary.com/chronologic12/image/upload/c_scale,w_901/v1624981405/Volume/contact-large_orv4ov.jpg");
    background-size: cover;
    background-position: 70% 50%;
    text-align: center;
    position: relative;
    top: 4rem;
    padding-bottom: 5rem;
}

.contact .card-body p {
    padding: 0 4rem;
}

.contact-card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 60vh;
    margin-top: 0;
}

.contact-container {
    display: grid !important;
    grid-template-columns: auto auto;
    justify-content: center !important;
}

.contact-container div:nth-child(odd){
    text-align: right;
    padding: 1rem;
}

.contact-container div:nth-child(even) {
    text-align: left;
    padding: 1rem;
}

.contact-socials {
    padding: 3rem 0;
    justify-content: space-evenly !important;
}

hr {
    margin: 0;
}

/* -------------------------------Contact hover effects */

.social-icons:hover {
    color: var(--white);
    transition: all 0.5s ease-in-out;
}


/* -------------------------------Map */

iframe {
    position: relative;
    width: 100vw;
    height: 40vh;
    top: 4em;
    margin-bottom: 1.7rem;
}

/* -------------------------------Media queries (adapting elements to fit smaller screen sizes)*/

@media only screen and (max-width: 1400px) {
    .contact .card-body p {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 992px) {

    /* ---------------------------Contact */

    .contact-card {
        margin-bottom: 2rem;
    }

    .contact .card-body p {
        padding: 1rem 2rem;
    }

    .contact form {
        padding: 1rem;
    }
}

/* -------------------------------Media queries (managing bandwidth for mobile devices)*/

@media only screen and (min-width: 720px) {
    .contact {
        background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("https://res.cloudinary.com/chronologic12/image/upload/c_scale,w_2049/v1624981405/Volume/contact-large_orv4ov.jpg");
    }
}

@media only screen and (max-width: 460px) {
    .contact-container {
        display: grid !important;
        grid-template-columns: auto;
        justify-content: center !important;
    }

    .contact-container div {
        text-align: center !important;
    }
}