.gallery {
    background-image: linear-gradient(to right, #fc00ff, #00dbde);
    text-align: center;
    position: relative;
    top: 4rem;
    padding: 5rem;
    display: flex;
    text-align: center;
}

.gallery a {
    color: var(--blue);
    margin: auto auto;
    font-size: 10rem;
}

.images {
    padding: 4rem;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.images img {
    width: 100%;
}