/* -------------------------------Gallery */

.gallery {
    background: linear-gradient(var(--pale-blue), var(--white));
    /* background-image: linear-gradient(#c007c4, #07a7af); */
    text-align: center;
    position: relative;
    top: 4rem;
}

.gallery i {
    color: var(--blue);
    margin: auto auto;
    position: absolute;
    top: 2rem;
    font-size: 6rem;
    transform: translateX(-50%);
}

.images {
    padding: 2rem;
    margin-bottom: 4rem;
    padding-top: 10rem;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.images img {
    width: 100%;
}

.container {
    clear: both;
}

@media only screen and (max-width: 1200px) {
    .images {
        column-count: 3;
    }
} 

@media only screen and (max-width: 992px) {
    .images {
        column-count: 2;
    }
} 

@media only screen and (max-width: 768px) {
    .images {
        column-count: 1;
    }   
}
