/* -------------------------------Gallery */

.gallery {
    background: linear-gradient(#efd8f0, var(--pale-blue));
    text-align: center;
    position: relative;
    top: 4rem;
}

.gallery i {
    color: var(--blue);
    margin: auto auto;
    position: absolute;
    top: 2rem;
    font-size: 6rem;
    transform: translateX(-50%);
    text-shadow: 2px 2px 5px #493249;
}

.gallery i:hover {
    color: var(--white);
    text-shadow: 3px 3px 6px #493249;
    transition: all 0.5s ease-in-out;
}

.images {
    padding: 2rem;
    margin-bottom: 4rem;
    padding-top: 10rem;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.images img {
    width: 100%;
}

.container {
    clear: both;
}

/* -------------------------------Media queries to set gallery column count based on screen width */

@media only screen and (max-width: 1200px) {
    .images {
        column-count: 3;
    }
} 

@media only screen and (max-width: 992px) {
    .images {
        column-count: 2;
    }
} 

@media only screen and (max-width: 768px) {
    .images {
        column-count: 1;
    }   
}
