/* -------------------------------Header */

.home-intro {
    background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("https://res.cloudinary.com/chronologic12/image/upload/q_auto,c_scale,w_768/v1624975862/Volume/home-header-large_wct6dz.jpg");
    background-size: cover;
    background-position: 70% center;
    height: calc(100vh - 4em);
    position: relative;
    top: 4rem;
}

.home-main-logo {
    height: 40vh;
    margin: auto auto;
}

.home-intro .card-body .button {
    font-size: 1.2rem;
    height: auto;
    width: auto;
    padding: 0.4rem;
    line-height: 100%;
    margin: 0.5rem;
}

/* -------------------------------About us */

.home-about-us {
    background: linear-gradient(hsl(340, 35%, 70%), hsl(225, 20%, 70%));
    position: relative;
    top: 4rem;
    padding: 2rem 0;
    text-align: center;
}

.home-about-us article {
    padding: 3rem;
}

main h2 {
    padding: 0.5rem 0 1rem 0;
    background-color: var(--grey);
    font-weight: 700;
    margin: auto auto;
    border-radius: 3px;
}

.about-us-centre-wide-shot {
    width: 100%;
}

.about-us-volume-team {
    width: 50%;
    margin: auto auto;
    padding: 1rem 0;
}

.about-us-the-team p {
    display: flex;
    align-items: center;
}

.card-body article{
    padding: 1rem;
}
/* -------------------------------News */

.home-news {
    background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("https://res.cloudinary.com/chronologic12/image/upload/q_auto/c_crop,h_1662,w_854,x_1700,y_637/v1624975865/Volume/home-news-large_baegri.jpg");
    padding: 1rem;
    padding-top: 4rem;
    position: relative;
    top: 4rem;
    background-size: cover;
    margin-bottom: 4em;
    text-align: center;
}

.home-news div {
    padding-bottom: 7rem;
    /* padding-bottom: 2rem; */
    position: relative;
    top: 4rem;
    margin: 0 auto;
}

.home-news img {
    width:100%;
    padding: 1rem;
}

/* -------------------------------Media queries (adapting elements to fit smaller screen sizes)*/

@media only screen and (max-width: 992px) {

    .card-body {
        font-size: 1rem;
        margin: 0.5rem auto;
        padding: 0.7rem;
        transform: none;
    }

    .home-main-logo {
        margin: 1rem 0 0 0;
        height: 35vh;
    }

    .about-us-volume-team {
        width: 80%;
    }

    article > p {
        margin: 0;
    }

    .card-body article {
        padding: 0;
    }    
}

@media only screen and (max-width: 420px) {

    .home-about-us article {
        padding: 0.5rem;
    }

    .home-intro-card-heading {
        font-size: 1.4rem !important;
    }

    .home-main-logo {
        height: 25vh;
    }
    
    .home-intro .card-body .button {
        margin: 0;
    }
}

@media only screen and (max-width: 320px) {
    .home-main-logo {
        margin: 0;
        height: 15vh;
    }

    .home-intro .card-body {
        line-height: 1.1rem;
    }

    .home-intro .card-body .button {
        font-size: 1rem;
        padding: 0.2rem;
        margin-top: 0.4rem;
    }
}

/* -------------------------------Media queries (managing bandwidth for mobile devices)*/

@media only screen and (min-width: 768px) {
    .home-intro {
        background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("https://res.cloudinary.com/chronologic12/image/upload/c_scale,q_70,w_1920/v1624975862/Volume/home-header-large_wct6dz.jpg");
    }
    .home-news {
        background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("https://res.cloudinary.com/chronologic12/image/upload/c_scale,h_1062,q_86,w_1920/v1624975865/Volume/home-news-large_baegri.jpg");
    }
}

