/* -------------------------------Prices */

.prices {
    background: linear-gradient(#efd8f0, var(--pale-blue));
    text-align: center;
    position: relative;
    top: 4rem;
    padding: 4rem 2rem 1rem 0;
    margin-bottom: 4rem;
    min-height: calc(100vh - 4rem);
} 

.prices .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

.prices p {
    padding-top: 2rem;
}

.prices table {
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.prices .button-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.prices tr {
    border-bottom: var(--white) solid 2px;
    line-height: 2.5rem;
}

.prices th {
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
}

.prices td {
    padding: 0 2rem;
}

.card-body > div {
    justify-content: center;
    margin-right: 2rem;
}


/* -------------------------------Media query to adjust spacing on small screens */

@media only screen and (max-width: 1399px) {
    .prices {
        padding: 4rem 0 1rem 0;
    } 
} 


@media only screen and (max-width: 576px) {
    .prices .card-body{
        font-size: 1rem;
        line-height: 1rem;
    } 

    .prices td, th {
        padding: 0 0.5rem;
    }

    .card-body > div {
        margin: 0;
    }
} 

@media only screen and (max-width: 460px) {
    .prices td, th {
        padding: 0 0.2;
    }
}
