/* -------------------------------Prices */

.prices {
    background: linear-gradient(#efd8f0, var(--pale-blue));
    text-align: center;
    position: relative;
    top: 4rem;
    padding: 4rem 2rem 1rem 0;
    margin-bottom: 4rem;
    min-height: calc(100vh - 4rem);
}

.prices > div {
    padding: 0;
    
}

.prices .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

.prices p {
    padding-top: 2rem;
}

.prices table {
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.prices .button-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.prices tr {
    border-bottom: var(--white) solid 2px;
    line-height: 2.5rem;
}

.prices th {
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
}

.prices td {
    padding: 0 1rem;
}

.card-body > div {
    justify-content: center;
    margin-right: 2rem;
}


/* -------------------------------Media query to space cards out when in single verticle column on smaller screens */

@media only screen and (max-width: 1200px) {
    /* .prices > div:nth-child(2) {
        margin-top: 3rem;
    } */
} 
