/* -------------------------------Fonts */
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin/lato-v17-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin/lato-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v17-latin/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* -------------------------------Colours */

.background-dark-grey {
    background-color: #2A2A31;
}

.background-light-blue {
    background-color: #0BD9DA;
}

/* -------------------------------General rules */

body {
    font-family: Lato, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    border-bottom: 2px solid #f8f8f8;
    padding-bottom: 2px; 
}

/* -------------------------------animations */

@keyframes fadew-b {
    0% {
        color: #f8f8f8;
        border-color: #f8f8f8;
        font-color: #f8f8f8;
    }
    100% {
        color: #0BD9DA;
        border-color: #0BD9DA;
        font-color: #0BD9DA;
    }
}

@keyframes fadeb-w {
    0% {
        color: #0BD9DA;
        border-color: #0BD9DA;
        font-color: #0BD9DA;
    }
    100% {
        color: #f8f8f8;
        border-color: #f8f8f8;
        font-color: #f8f8f8;
    }
}

/* -------------------------------Nav */

.container-fluid {
    padding: 0;
}

header {
    position: fixed;
}

.navbar {
    height: 4em;
    z-index: 100;
}

.navbar-logo {
    height: 3.5em;
    width: 3.5em;
    position: absolute;
    left: 1em;
    top: 0.5em;
}

.nav-page-links {
    align-items: center;
    background-color: #2A2A31;
}

.navbar-collapse {
    justify-content: center;
}

.nav-page-links li a {
    color: #f8f8f8;
    text-decoration: none;
}

.nav-page-links li a:hover {
    color: #0BD9DA;
    border-color: #0BD9DA;
    animation: fadew-b 0.5s ease-in-out;
}

.nav-link-divider {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: #f8f8f8;
    margin: 0 0.8em;
}

.navbar-booking-button {
    color: #2A2A31;
    border-radius: 2px;
    text-decoration: none;
    width: 5em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    position: absolute;
    right: 1em;
    top: 1em;
    font-weight: 700;
}

/* -------------------------------Footer */

.footer {
    color: #f8f8f8;
    text-align: center;
}

.footer a {
    color: #0BD9DA;
}

.footer a:hover {
    animation: fadeb-w 0.5s ease-in-out;
}

.footer table {
    margin-left: auto;
    margin-right: auto;
}

.footer li {
    list-style-type: none;
}

.footer li a {
    text-decoration: none;
    line-height: 2em;
}

.footer i {
    display: block;
    font-size: 2em;
}

.footer ul, .footer ol {
    padding-left: 0;
}

.footer td {
    padding: 0 0.5em;
}

.footer-column-spacing {
    margin-top: 1em;
}

.footer > div {
    margin: 0;
}

/* -------------------------------Header */

.home-intro {
    background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("/assets/pictures/home/home-header-small.jpg");
    background-size: cover;
    background-position: 70% center;
    height: calc(100vh - 4em);
    width: 100%;
    position: relative;
    top: 4em;
    z-index: -1;
}

.home-main-logo {
    height: 26em;
    width: 26em;
}

/* -------------------------------Media queries (adapting elements to fit smaller screen sizes)*/

@media only screen and (max-width: 992px) {
    .nav-menu-icon {
        color: #f8f8f8;
        font-size: 1.5em;
    }

    .nav-menu-icon:hover {
        animation: fadew-b 0.5s ease-in;
    }

    .navbar-toggler {
        position: absolute;
        left: 50vw;
        transform:translateX(-50%);
    }

    .nav-page-links {
        height: 100vh;
        width: 100vw;
        justify-content: space-around;
        margin-top: 4em;
        padding-bottom: 4em;
    }

    .nav-page-links li a {
        font-size: 1.5em;
    }
}

/* -------------------------------Media queries (managing bandwidth for mobile devices)*/