/* -------------------------------Fonts */
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin/lato-v17-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin/lato-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v17-latin/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* -------------------------------Colours */

:root {
    --blue: #0BD0DA;
    --grey: #2A2A31;
    --pale-blue: #d8e1f0;
    --white: #f8f8f8;
}

.background-dark-grey {
    background-color: var(--grey);
}

.background-light-blue {
    background-color: var(--blue);
}

.card-dark-background {
    background-color: rgba(42,42,49,0.9);
}

label {
    color: var(--white) !important;
}

/* -------------------------------Resets */

.row {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

/* -------------------------------General rules */

body {
    font-family: Lato, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    border-bottom: 2px solid var(--white);
    padding-bottom: 2px; 
}

.button {
    color: var(--grey);
    border-radius: 3px;
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 700;
}

.card-shadow {
    box-shadow: 20px 20px 0 0 rgba(11, 208, 218, 0.9);
}

.image-shadow {
    box-shadow: 20px 20px 0 0 rgba(42,42,49,0.9);
}

.card-body {
    color: var(--white);
    margin: 1em auto;
    width: 80%;
    font-size: 1.3rem;
    line-height: 1.3rem;
    border-radius: 3px;
    min-height: 40%;
    justify-self: flex-start;
    flex: 0 1 auto;
}

.card-body > div {
    display: flex;
    justify-content: flex-end;
}

.form-button {
    border: none;
    margin-top: 1rem;
}

.volume-logo {
    height: 28vh;
    width: 100%;
    margin: auto auto;
}

/* -------------------------------Social media Links */

.social-icons {
    text-decoration: none;
    line-height: 2.5rem;
    font-size: 2.5rem;
}

/* -------------------------------Nav */

.container-fluid {
    padding: 0;
}

.navbar {
    height: 4rem;
    z-index: 100;
    position: fixed;
    top: 0;
}

.navbar-logo {
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    left: 2rem;
    top: 0.5rem;
}

.nav-page-links {
    align-items: center;
    background-color: var(--grey);
}

.navbar-collapse {
    justify-content: center;
}

.nav-page-links li a {
    color: var(--white);
    text-decoration: none;
}

.nav-page-links a:hover {
    color: var(--blue);
    border-color: var(--blue);
    animation: all 0.5s ease-in-out;
}

.nav-link-divider {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--white);
    margin: 0 0.8rem;
}

.navbar-booking-button {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

/* -------------------------------Footer */

.footer {
    color: var(--white);
    text-align: center;
    margin-top: 2rem;
}

.footer a:hover {
    color: var(--white);
    border-color: var(--white);
    animation: all 0.5s ease-in-out;
}

.footer table {
    margin-left: auto;
    margin-right: auto;
}

.footer li, a {
    list-style-type: none;
    text-decoration: none;
    color: var(--blue);
}

.footer i {
    font-size: 2rem;
}

.footer ul, .footer ol {
    padding-left: 0;
}

.footer td {
    padding: 0 0.5rem;
}

.footer-column-spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 0;
}

/* -------------------------------Media queries (adapting elements to fit smaller screen sizes)*/

@media only screen and (max-width: 992px) {

    /* ---------------------------Nav */

    .nav-menu-icon {
        color: var(--white);
        font-size: 1.5rem;
    }

    .nav-menu-icon:hover {
        color: var(--blue);
        animation: all 0.5s ease-in;
    }

    .navbar-toggler {
        position: absolute;
        left: 50vw;
        transform:translateX(-50%);
    }

    .nav-page-links {
        height: 100vh;
        width: 100vw;
        justify-content: space-around;
        margin-top: 4rem;
        padding-bottom: 4rem;
    }

    .nav-page-links li a {
        font-size: 1.5rem;
    }

    .navbar-booking-button {
        right: 1rem;
    }
}

@media only screen and (max-width: 420px) {
    
}

@media only screen and (max-width: 320px) {
    
}

/* -------------------------------Media queries (managing bandwidth for mobile devices)*/

@media only screen and (min-width: 720px) {
    
}