/* -------------------------------Fonts */
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v17-latin/lato-v17-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin/lato-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v17-latin/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* -------------------------------Colours */

:root {
    --blue: #0BD0DA;
    --grey: #2A2A31;
    --pale-blue: #d8e1f0;
    --white: #f8f8f8;
}

.background-dark-grey {
    background-color: var(--grey);
}

.background-light-blue {
    background-color: var(--blue);
}

.card-dark-background {
    background-color: rgba(42,42,49,0.9);
}

/* -------------------------------General rules */

body {
    font-family: Lato, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    border-bottom: 2px solid var(--white);
    padding-bottom: 2px; 
}

.row {
    margin: 0;
    padding: 0;
}

.button {
    color: var(--grey);
    border-radius: 3px;
    text-decoration: none;
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 700;
}

.card-shadow {
    box-shadow: 20px 20px 0 0 var(--blue);
}

.card-body {
    color: var(--white);
    margin: 1em auto;
    width: 80%;
    font-size: 1.3rem;
    line-height: 1.3rem;
    border-radius: 3px;
    min-height: 40%;
    justify-self: flex-start;
    flex: 0 1 auto;
}

.card-body > div {
    display: flex;
    justify-content: flex-end;
}

.card-body .button {
    font-size: 1.2rem;
    height: auto;
    width: auto;
    padding: 0.4rem;
    line-height: 100%;
    margin: 0.5rem;
}

/* -------------------------------animations */

@keyframes fadew-b {
    0% {
        color: var(--white);
        border-color: var(--white);
        font-color: var(--white);
    }
    100% {
        color: var(--blue);
        border-color: var(--blue);
        font-color: var(--blue);
    }
}

@keyframes fadeb-w {
    0% {
        color: var(--blue);
        border-color: var(--blue);
        font-color: var(--blue);
    }
    100% {
        color: var(--white);
        border-color: var(--white);
        font-color: var(--white);
    }
}

/* -------------------------------Nav */

.container-fluid {
    padding: 0;
}

header {
    position: fixed;
}

.navbar {
    height: 4rem;
    z-index: 100;
}

.navbar-logo {
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    left: 2rem;
    top: 0.5rem;
}

.nav-page-links {
    align-items: center;
    background-color: var(--grey);
}

.navbar-collapse {
    justify-content: center;
}

.nav-page-links li a {
    color: var(--white);
    text-decoration: none;
}

.nav-page-links li a:hover {
    color: var(--blue);
    border-color: var(--blue);
    animation: fadew-b 0.5s ease-in-out;
}

.nav-link-divider {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--white);
    margin: 0 0.8rem;
}

.navbar-booking-button {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

/* -------------------------------Footer */

.footer {
    color: var(--white);
    text-align: center;
    margin-top: 2rem;
}

.footer a {
    color: var(--blue);
}

.footer a:hover {
    animation: fadeb-w 0.5s ease-in-out;
}

.footer table {
    margin-left: auto;
    margin-right: auto;
}

.footer li {
    list-style-type: none;
}

.footer li a {
    text-decoration: none;
    line-height: 2rem;
}

.footer i {
    display: block;
    font-size: 2rem;
}

.footer ul, .footer ol {
    padding-left: 0;
}

.footer td {
    padding: 0 0.5rem;
}

.footer-column-spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 0;
}

/* -------------------------------Header */

.home-intro {
    background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("/assets/pictures/home/home-header-small.jpg");
    background-size: cover;
    background-position: 70% center;
    height: calc(100vh - 4em);
    position: relative;
    top: 4rem;
    z-index: -1;
}

.home-main-logo {
    height: 40vh;
    margin: auto auto;
    width: 100%;
    margin: 3em 0;
}

/* -------------------------------About us */

.home-about-us {
    background: linear-gradient(var(--pale-blue), var(--white));
    position: relative;
    top: 4rem;
    display: block;
    padding-top: 1rem;
    text-align: center;
    z-index: -1;
}

.home-about-us article {
    padding: 1.5rem;
}

main h2 {
    padding: 0.5rem 0 1rem 0;
    background-color: var(--grey);
    font-weight: 700;
    margin: auto auto;
    border-radius: 3px;
}

/* -------------------------------News */

.home-news {
    background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("/assets/pictures/home/home-news-small.jpg");
    padding: 1rem;
    position: relative;
    top: 4rem;
    background-size: cover;
    z-index: -1;
    margin-bottom: 4em;
    text-align: center;
}

.home-news div div{
    padding-bottom: 2rem;
    position: relative;
    top: 4rem;
}

/* -------------------------------Contact */

.contact {
    background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("/assets/pictures/contact/contact-small.jpg");
    background-position: 70% center;
}

/* -------------------------------Media queries (adapting elements to fit smaller screen sizes)*/

@media only screen and (max-width: 992px) {

    /* ---------------------------nav */

    .nav-menu-icon {
        color: var(--white);
        font-size: 1.5rem;
    }

    .nav-menu-icon:hover {
        animation: fadew-b 0.5s ease-in;
    }

    .navbar-toggler {
        position: absolute;
        left: 50vw;
        transform:translateX(-50%);
    }

    .nav-page-links {
        height: 100vh;
        width: 100vw;
        justify-content: space-around;
        margin-top: 4rem;
        padding-bottom: 4rem;
    }

    .nav-page-links li a {
        font-size: 1.5rem;
    }

    .navbar-booking-button {
        right: 1rem;
    }

    /* ---------------------------home */

    .card-body {
        font-size: 1rem;
        margin: 0.5rem auto;
        padding: 0.7rem;
    }

    .home-main-logo {
        margin: 1rem 0 0 0;
        height: 35vh;
    }

    .home-about-us h2 {
        max-width: 35%;
    }
}

@media only screen and (max-width: 420px) {
    .home-about-us h2 {
        font-size: 1.3rem;
        max-width: 40%;
    }
}

@media only screen and (max-width: 320px) {
    .home-main-logo {
        margin: 0;
        height: 25vh;
    }

    .card-body h3 {
        font-size: 1.3rem;
    }

    .home-about-us h2 {
        max-width: 45%;
    }
}

/* -------------------------------Media queries (managing bandwidth for mobile devices)*/

@media only screen and (min-width: 720px) {
    .home-intro {
        background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("/assets/pictures/home/home-header-large.jpg");
    }
    .home-news {
        background-image: linear-gradient(rgba(42,42,49,0.3), rgba(42,42,49,0.3)), url("/assets/pictures/home/home-news-large.jpg");
    }
}